<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>
  <p>This app is a demo of Crystal Report integration with ASP.NET Framework 4.7/Web API 2 to render the Crystal reports to PDF and stream to Angular for display in the web browser.</p>
<h3>Angular Frontend Repo</h3>
<p>https://github.com/workcontrolgit/AngularCrytalReportUI</p>

<h3>Web API Backend Repo</h3>
<p>https://github.com/workcontrolgit/AngularCrytalReportUI</p>

</div>
