.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

// pdf-viewer {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   filter: drop-shadow(5px 5px 5px #222222);
// }
