<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>Angular / Crystal Report / WebAPI Demo</span>
    </h1>
  </div>
  <div class="card-group my-3">
    <div class="card">
      <a class="card-link" routerLink="/income">
        <div class="card-body card-body-small">
          <i class="fas fa-money-check-alt fa-2x text-primary"></i>
          <h4 class="card-title pt-1 pb-0 text-dark">Income</h4>
        </div>
      </a>
    </div>

    <div class="card">
      <a class="card-link" routerLink="/invoice">
        <div class="card-body">
          <i class="fas fa-file-invoice fa-2x text-secondary"></i>
          <h4 class="card-title pt-1 pb-0 text-dark">Invoice</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/financial">
        <div class="card-body">
          <i class="fas fa-coins fa-2x text-success"></i>
          <h4 class="card-title pt-1 pb-0 text-dark">Financial</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/saving">
        <div class="card-body">
          <i class="fas fa-piggy-bank fa-2x text-warning"></i>
          <h4 class="card-title pt-1 pb-0 text-dark">Saving</h4>
        </div>
      </a>
    </div>
  </div>
</div>
